################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GAC_WMS_API_INTEGRATION_PROJECT_KARIM/FileContentIndex
