################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GAC_WMS_API_INTEGRATION_PROJECT_KARIM/FileContentIndex
/.vs/Warehouse-ERPIntegration
/.vs/GAC_WMS_API_INTEGRATION_PROJECT_KARIM/v17
/.vs/slnx.sqlite
/.vs
/.vs/VSWorkspaceState.json
